<section class="small-12 column">
  <h1 class="list"><%= @recipe.first["label"]%></h1>


  <article>
    <div class="grid-block">
    <div class="small-12 medium-6 grid-content">
      <h2 class="center">ingredients</h2>
    <%= image_tag @recipe.first["image"], size: "200x200", id:"show"%>
    <p><% @recipe.first["ingredientLines"].each do |line|%></p>

  <ul>
    <li class="lines"><%= line %></li>
  </ul>

  <%end%>
  </div>
  </div>

  </article>

  </section>
  <script>
  function goBack() {
      window.history.back();
  }
  </script>
    <div id="show-rec">
    <p><%= link_to("Recipe", @recipe.first["url"]) %></p>
    <p> calories: <%= @recipe.first["calories"].round%></p>
    <button onclick="goBack()">Go Back</button>

  </div>
