<!DOCTYPE html>
<html>
<head>
  <title>ApiMuncher</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<footer>
  <nav>
    <ul>
  <li><p>Sabrina Wilbert</p></li>
  <li><%= image_tag("attribution.png", size:"120x120") %></li>
</uL>
</nav>
</footer>
</body>

</html>
